@{
    ViewData["Title"] = "Order Completed";
}
<br />
<div class="row">
    
    <div class="col-md-6 offset-3 alert alert-success">
        <h1 class="text-center"><i class="bi bi-receipt-cutoff"></i></h1>
        <h2><i class="bi bi-check-square-fill"></i> Order Complete Successfully!</h2>
        
    </div>
</div>
