@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-8 offset-2" style="z-index:1">
        <h1>@ViewData["Title"]</h1>
        <div>
            <br />
            <h2>ABC Healthcare is a Mumbai-based pharma company which sells medicines throughout India 
                as per the demand it receives from multiple hospitals and clinics. 
                It has been operating in India for the last 15 years.</h2>
            <hr>
            <br>
            <br>
            <h2><i class="bi bi-github"></i> Repository Link</h2>
            <hr>
            <h4><a href="https://github.com/Prak22/wipro-velocity-capstone-E-healthcare">ABC Helathcare</a></h4>
            <br>
        </div>

    </div>
</div>
